*{
	padding: 0;
	margin: 0;
	font-family: arial,san-serif;
}	
.header{
	border-top: 3px solid orange;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #c4c2bc;
}
.header_left{
	display: flex;
	align-items: center;
}
.header_left span{
	cursor: pointer;
}
.header_left span img{
	width: 140px;
	margin-left: 40px;
}
.header_left span input{
	padding: 8px;
	margin: 0px 20px;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 20px;
}
.header_left span input:hover{
	background-color: #e6e8e6;
}
.header_middle{
	display: flex;
	align-items: center;
	border: 1px solid black;
}
.header_middle img{
	width: 20px;
	margin: 5px;
}
.header_middle input{
	font-size: medium;
	border: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 750px;
	outline: none;
}
.header_right{
  	display: flex;
	align-items: center;
  	padding-right: 20px;
}
.header_right span{
	padding: 18px;
  	cursor: pointer;
}
.header_right span img{
	width: 20px;
}
.header_right span:hover{
	background-color: #d6d4d4;
}
.main_body{
  	display: flex;
}
.sidebar{
	position: sticky;
	flex: 0.3;
	max-width: 170px;
	padding-left: 35px;
	border-right: 2px solid #c4c2bc;
	color: grey;
}
.sidebar_options img{
	width: 20px;
}
.active{
	background-color: #ebebeb;
	border-right: 3px solid #f48225;
	font-weight: 800;
	color: black;
	margin: 20px 0px 25px 0px;
    	padding: 10px 1px 10px 1px;
    	width: 142px;
}
.sidebar_options div{
	font-size: 12px;
	font-weight: 100;
}
.pointer{
	cursor: pointer;
}
.display{
	display: flex;
}
.home:hover, .questions:hover,
.question_sub:hover,
.expcollect:hover, 
img:hover{
	color: black;
}
.margin{
	margin: 20px;
}
.qsmargin{
	margin: 3px 0px 2px 5px;
}
.question_sub{
	margin: 25px;
}
.active{
	margin: 25px 25px 25px 0px;
}
.collectives img{
	margin: -3px 0px 0px 15px;
}
.expcollect{
	margin: 0px 0px 0px 20px;
}
.exp{
	margin: 3px 0px 0px 0px;
}
.jonskeet{
	display: flex;
}
.jonskeet img{
	padding: 10px 0px 0px 20px;
	width: 130px;
}
