*{
	padding: 0;
	margin: 0;
	font-family: arial,san-serif;
}
.border{
	border-top: 3px solid orange;
}
.header{
	display: flex;
	align-items: center;
	margin: 1px whitesmoke;
}
.header_left{
	display: flex;
	align-items: center;
}
.header_left span{
	cursor: pointer;
}
.header_left span img{
	width: 140px;
	margin-left: 40px;
}
.header_left span input{
	padding: 8px;
	margin: 0px 20px;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 20px;
}
.header_left span input:hover{
	background-color: #d6d4d4;
}
.header_middle{
	display: flex;
	align-items: center;
	border: 1px solid black;
}
.header_middle img{
	width: 20px;
	margin: 5px;
}
.header_middle input{
	font-size: medium;
	border: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 750px;
	outline: none;
}
.header_right{
  	display: flex;
	align-items: center;
  	padding-right: 20px;
}
.header_right span{
	margin-left: 20px;
  	cursor: pointer;
}
.header_right span img{
	width: 20px;
}
.header_right span img:hover{
	background-color: #d6d4d4;
}
.main_body{
  	display: flex;
}
sidebar{
	flex: 1;
}
.sidebar_option1{
  	display: flex;
  	align-items: center;
  	padding: 0 10px;
  	cursor: pointer;
  	color: #818181;
	margin-rightt: 10px solid grey;
}
.sidebar_option1 h6{
  	flex: 1;
	padding: 20px;
  	font-size: 12px;
  	font-weight: 400;
}
.sidebar_option1 h6:hover{
	color: black;
}
.sidebar_option2{
  	display: flex;
  	align-items: center;
  	padding: 0 10px;
  	color: #818181;
	margin-rightt: 10px solid grey;
}
.sidebar_option2 h6{
  	flex: 1;
	padding: 20px;
  	font-size: 12px;
  	font-weight: 400;
}
.sidebar_option3{
  	display: flex;
  	align-items: center;
  	padding: 0 8px;
  	cursor: pointer;
  	color: #818181;
	margin-rightt: 10px solid grey;
}
.sidebar_option3 h6{
  	flex: 1;
	padding: 15px;
  	font-size: 12px;
  	font-weight: 400;
}
.sidebar_option3 h6:hover{
	color: black;
}
.sidebar_option3 span img{
	width: 20px;
}
.sidebar_option4{
  	display: flex;
  	align-items: center;
  	padding: 0 8px;
  	cursor: pointer;
  	color: #818181;
	margin-rightt: 10px solid grey;
}
.sidebar_option4 h6{
  	flex: 1;
	padding: 15px;
  	font-size: 12px;
  	font-weight: 400;
}
.sidebar_option4 h6:hover{
	color: black;
}
.jonskeet span img{
	width: 130px;
	cursor: pointer;
}
